$primary: #8100d1
$primary-invert: #ffffff

@import "~bulma"

html,
body,
#___gatsby,
#gatsby-focus-wrapper,
#layout-wrapper
  height: 100%

#layout-wrapper
  width: 100%
  display: flex
  flex-direction: column

#content-wrapper
  flex: 1

nav
  border-bottom: lightgray solid 0.1vmin

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.margin-top-0
  margin-top: 0 !important

@import "~bulma"
